In [95]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [96]:
#Input the data using pandas function.
#Header = 0 because the first column contains the features names.
#delimiter=', ' extra space because every value has an extra space.
#Rather than running strip.
income_data = pd.read_csv('income.csv', header=0, delimiter = ', ')
display(income_data.head())

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [97]:
#This column contains the label for the data.
labels = income_data[['income']]

In [98]:
#These are columns which we selected randomly for predicting the salary 
data = income_data[["age", "capital-gain", "capital-loss", "hours-per-week", "sex"]]

In [99]:
#convert the gender column to either int or float
#data['sex'] = np.where(data.sex == 'Male', 0, 1)
data["sex"] = data["sex"].apply(lambda row: 0 if row == "Male" else 1)
display(data.head())

   age  capital-gain  capital-loss  hours-per-week  sex
0   39          2174             0              40    0
1   50             0             0              13    0
2   38             0             0              40    0
3   53             0             0              40    0
4   28             0             0              40    1

In [100]:
#now we split the data into training data, test data, training labels and test labels
train_data, test_data, train_labels, test_labels = train_test_split(data, labels, random_state = 1)

In [101]:
#now we create our randomforestclassifier model
classifier = RandomForestClassifier()
classifier.fit(train_data, train_labels.values.ravel())

RandomForestClassifier()

In [102]:
print(f'The accuracy of the model is {classifier.score(test_data, test_labels)}')

The accuracy of the model is 0.8259427588748312

In [103]:
print(classifier.feature_importances_)

[0.30441028 0.30333657 0.1237097  0.20778276 0.0607607 ]